/* ----- Эффекты для кнопок----- */

/* Кнопки CTA */
.btn--cta{
  &:before, &:after{
	content: '';
	display: block;
    position: absolute;
    width: 140%;
	height: 100%;
	display: none;
    left: -20%;
    z-index: 2;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
	display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, v(cta-color) 20%, transparent 30%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%), 
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, v(cta-color) 15%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  
  &:after{
	display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, v(cta-color) 20%, transparent 20%), 
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, v(cta-color) 15%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%),
    radial-gradient(circle, v(cta-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
 
  &:active{
    transform: scale(0.99);
  }
  
  &.cta-animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out .75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out .75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}


/* Эффект при ховере на кнопках без фона */
.btn--transp, .btn--border{
	overflow: hidden;
	z-index: 1;
	&::before{
	  content:'';
	  position:absolute;
	  top:-20px;
	  left:50%;
	  transform:translate(-50%, -50%) scale(1);
	  display:block;
	  width:40px;
	  height:40px;
	  background: v(accent-color);
	  border-radius:50px;
     transition: 0.4s;
     z-index:-1;
	}
	&:hover{
	  &:before{
		transform:scale(8.3);
	  }
	}
  }



/* Эффект при клике */

  .btn:not(.btn--cta) {
    
    //  Customize effect by defining the following
    //  variables on the parent element 
     --ripple-background: white;
	 --ripple-opacity: 0.3; 
     --ripple-duration: 600ms;
    //  --ripple-easing: linear;
    
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position:absolute;
        display: block;
        background: var(--ripple-background, white);      
        border-radius: 50%;
        pointer-events: none; 
        
        //  position and size 
        top: calc(var(--y) * 1px);
        left: calc(var(--x) * 1px);
        width:  calc(var(--d) * 1px);
        height: calc(var(--d) * 1px);

        //  animated properties
        opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));                
        transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing,linear);   
        transform: translate(-50%, -50%) scale(var(--s, 1));
        transform-origin: center;
    }
}



















