/* ----- Forms ----- */

*::placeholder
	color: v(sub-text-color)
	font-weight: 300
	opacity: 1
	@include trs(.1s)

body input:focus:required:invalid, body textarea:focus:required:invalid,
body input:required:valid, body textarea:required:valid
	color: $text-color



.input
	display: block
	width: 100%
	height: 50px
	border: none
	padding: 1em
	background-color: $white
	border-radius: $bd-r
	font-weight: 300
	@include trs(.1s)
	&:hover
		box-shadow: inset 0 0 5px rgba($black, .4)
	&:focus
		outline: none
		box-shadow: inset 1px 1px 5px rgba($black, .5)
		&::placeholder
			opacity: 0


.privacy
	margin: 5px 0 0
	font-size: 14px
	line-height: 1.5
	font-weight: 500
	a
		color: inherit
		text-decoration: underline
		&:hover
			text-decoration: none



/* ----- Checkbox  ----- */
.checkbox 
	display: flex
	align-items: center
	cursor: pointer

	.checkbox-wrap
		position: relative
		display: inline-block
		width: 16px
		height: 16px
		flex: 0 0 16px
		border: 1px solid $border-color
		border-radius: $bd-r
		background-color: $white
		@include trs(.1s)

	.checkbox-check 
		width: 85%
		position: absolute
		top: 2px
		left: 1px
		stroke: $accent-color
		fill: $accent-color
		stroke-width: 2.5px
		stroke-dasharray: 19px
		stroke-dashoffset: 19px
		transition: .2s ease-out

	.checkbox-text
		display: inline-block
		margin-left: 8px
		font-size: 12px
		font-weight: 500
		color: $black
		a 
			color: inherit
			text-decoration: underline
			
	input
		display: none
		&:checked
			+ .checkbox-wrap
				background-color: $accent-color
				.checkbox-check
					stroke-dashoffset: 38px
					stroke: $white
					fill: $white

	&:hover
		.checkbox-wrap
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.16)





@include max-screen($xl)
	.privacy
		margin-top: 10px

@include max-screen($md)
	.input
		font-size: 14px
	.privacy
		margin-top: 15px
		font-size: 12px








