/* ----- Результаты поиска на стр ЖК ----- */

.results
	margin-top: -1px
	border: 1px solid v(border-color)
	border-bottom-left-radius: $bd-r
	border-bottom-right-radius: $bd-r
	position: relative

	&__row
		display: flex
		align-items: center
		justify-content: space-between
		padding-left: 44px
		padding-right: 38px
		font-weight: 500

	&__header
		height: 50px
		padding-left: 0
		padding-right: 15px
		box-shadow: $shadow1
		background-color: v(additional-color)
		position: relative
		z-index: 1
		
	&__col
		width: 660px
		margin-right: 20px

	&__cell
		text-align: center
	&-cell
		&-1
			min-width: 40px
		&-2
			flex: 1 0 0
			max-width: 222px
		&-3
			min-width: 65px
		&-4
			min-width: 170px
		&-5
			min-width: 100px

	&__body
		display: flex
		.results__row
			padding-top: 11px
			padding-bottom: 10px
			&:not(:last-child)
				border-bottom: 1px solid v(border-color)
			
	&-screen
		width: calc(100% + 8px)
		max-height: 640px
		border-right: 1px solid v(border-color)
		&__header
			height: 50px
			background-color: v(additional-color)
			.filter-data
				color: v(accent-color)
				white-space: nowrap

		.simplebar-vertical
			right: -13px
			border-right: 1px solid v(border-color)


	&__offer
		flex: 1 0 0
		max-width: 100%
		padding: 12px 25px 25px
	&__img
		position: relative
		max-height: 523px
		.img
			margin: 0 auto





.sort
	.svg
		margin-right: 5px
	&--active
		color: v(accent-color)
		.svg
			fill: v(accent-color)
	&--flip
		.svg
			transform: rotate(180deg)
.mob-sort
	display: none
	width: 100%
	align-items: center
	&__hint
		display: inline-block
		margin-right: 8px
	.ui-select__trigger
		height: auto
		padding: 0
		color: v(accent-color)
		border: none
		border-radius: 0
		border-bottom: 1px dotted v(accent-color)
		&::after
			display: none
	.ui-select__options
		min-width: 120px
	.ui-select__option
		white-space: nowrap
		padding: 5px
	.svg
		display: block
		margin-left: 8px
		fill: v(accent-color)
		position: relative
		top: 1px




.results__cell .plan-thumb
	margin: 0 auto
	max-width: 30px
	max-height: 60px

.interactive
	&-btns
		display: flex
		align-items: center
	&-btn
		display: block
		margin-left: 16px
		background-repeat: no-repeat
		background-size: 100%
		will-change: transform
		@include trs(.1s)
		&:hover
			transform: translateY(-3px)
	&-download
		width: 16px
		height: 21px
		background-image: url('../img/icons/ic-download.svg')
	&-print
		width: 20px
		height: 20px
		background-image: url('../img/icons/ic-print.svg')
	&-favorite
		width: 22px
		height: 21px
		.svg
			display: block
			width: 100%
			height: 100%
		&:hover
			.svg *
				fill: v(accent-color)
	&-follow
		width: 20px
		height: 20px
		.svg
			fill: v(accent-color)
			stroke: v(accent-color)
			border-color: v(accent-color)

.results-refresh
	margin-top: 20px
	font-size: 14px
	line-height: 1
	color: v(sub-text-color)
	.btn__ic
		vertical-align: middle

.results-offer
	&__footer
		display: flex
		align-items: center
		margin-top: 30px
	&__text
		flex: 1 0 0
		max-width: 100%
		p
			margin: 0
		a
			font-weight: 500
			border-bottom: 1px dotted v(accent-color)
			color: v(accent-color)
			&:hover
				border-bottom-color: transparent
	&__btn .btn
		min-width: 218px
	&__modal
		display: flex
		align-items: center
		justify-content: center
		width: 90px
		height: 90px
		border-radius: 50%
		background-color: rgba($black, .7)
		box-shadow: 0 3px10px rgba($black, .5)
		position: absolute
		top: 50%
		left: 50%
		margin: -45px 0 0 -45px
		@include trs(.1s)
		&:hover
			background-color: $black



.results-cell-mob, .results-cell-btns, .results-more
	display: none

.results-cell-mob
	.data-1
		margin-bottom: .3em
		font-size: 14px
		color: v(sub-text-color)
	.data-2
		margin-bottom: 0
		font-size: 16px
		font-weight: 500

.results-cell-btns .interactive-follow
	display: none





@include max-screen($xl)
	.results__offer
		display: none
	.results__col
		width: 100%
		margin-right: 0
	.results__header
		padding-right: 62px
		.interactive-btns
			display: none

	.results-screen__header
		padding-right: 93px
	
	.results-screen
		overflow: hidden
		width: 100%
		max-height: 100%
		border-right: none

	.results-cell-2
		max-width: 180px
	.results-cell-4
		min-width: 150px

	.results-cell-btns
		display: block
		flex: 0 0 38px
		width: 38px
		.interactive-btn
			margin: 0 auto

	.results-more
		display: block
		text-align: center
		margin-top: 30px

	.results-geo-map
		height: 450px
	

@include max-screen($md)

	.results
		border: none
		margin-top: 30px
		&:not(.results-geo)
			padding-bottom: 10px
			border-bottom: 1px solid v(border-color)
	.results__row
		padding-left: 15px
		padding-right: 15px
	.results__header
		padding: 0
		.results-cell-1
			display: none


	.results-screen__header
		display: block
		height: auto
		border-bottom: none !important
		padding-right: 15px
		padding-left: 15px
		> * 
			display: inline

	.results__cell:not(.results-cell-1)
		display: none
	.results-cell-mob
		display: block

	.results-cell-btns
		.interactive-favorite
			display: none
		.interactive-follow
			display: block


	.mob-sort
		display: flex


	.results-geo-map
		height: 360px

	.results-empty
		height: 150px
		font-size: 16px
		&::before
			width: 50px
			height: 50px
			flex-basis: 50px
			margin-right: 15px







/* ----- Результаты поиска на главной стр ----- */

.results-geo
	height: 100px
	background: url('../img/img-map.jpg') no-repeat 50% 50% / cover
	&__label
		height: 100%
		display: inline-flex
		align-items: center
		padding: 26px 24px
		font-weight: 500
		&::after
			content: ''
			display: block
			width: 42px
			flex: 0 0 42px
			height: 48px
			margin-left: 18px
			background: url('../img/icons/ic-map-pin.svg') no-repeat 0 0
			background-size: 100%
	&__result
		display: inline-block
		color: v(accent-color)
		margin-left: .5em
		white-space: nowrap
	&__btn
		position: absolute
		top: 25px
		right: 35px

			
	&-map
		background: none
		height: 617px
		.results-geo__label
			display: none
		.results-geo__btn
			transform: scale(-1)
		.map
			height: 100%
			overflow: hidden


.results-empty
	display: flex
	align-items: center
	justify-content: center
	height: 200px
	margin: 30px 0 50px
	padding: 0 30px
	border: 2px dotted v(border-color)
	border-radius: $bd-r
	font-size: 20px
	&::before
		content: ''
		display: block
		width: 70px	
		height: 70px
		flex: 0 0 70px
		margin-right: 20px
		background: url('../img/icons/ic-results-search.svg') no-repeat 0 0
		background-size: 100%


@include max-screen($xl)
	.results-geo__btn
		right: 24px

@include max-screen($md)
	.results-geo
		background: none
		border: none
		height: auto
		&__label
			width: 100%
			height: 50px
			background: $additional-color
			&::after
				display: none
			&::before
				content: ''
				display: block
				width: 15px
				flex: 0 0 15px
				height: 17px
				margin-right: 10px
				background: url('../img/icons/ic-map-pin-sm.svg') no-repeat 0 0
				background-size: 100%
		.results-geo__btn
			border: none
			background: none
			box-shadow: none
			top: 0
			right: 0
			.svg *
				stroke: v(accent-color)
		.map
			display: none
			height: 361px
			width: calc(100% + 30px)
			margin-left: -15px
			margin-top: 15px
			background: $additional-color
		&-map
			height: auto
			.results-geo__label
				display: flex
			.map
				display: block









