.pages-nav
	min-height: 100vh
	padding: 5vh 0
	display: flex
	background-color: v(additional-color)
	&__list
		margin: auto
		padding: 0
		list-style: none
		li:not(:last-child)
			margin-bottom: 15px
	&__item
		display: block
		font-size: 18px
		font-weight: 500


	&__table
		margin-top: 50px
		border-collapse: collapse
		td
			border: 1px solid #000
			a
				display: block
				padding: 10px 15px



.pages-logo
	max-width: 154px
	max-height: 52px
