/* ----- footer ----- */

.footer
	padding-bottom: 30px
	background-color: v(additional-color)
	.sub-menu
		margin-bottom: 30px
		padding-bottom: 20px
		border-bottom: 1px dashed v(sub-text-color)
		.col-1-4
			display: flex
			flex-direction: column
		.confidence-link, .footer__logo
			margin-top: auto

	&__text
		line-height: 1.44
		color: v(sub-text-color)
		p:last-child
			margin-bottom: 0

	&__logo
		.img
			width: 185px
			height: 63px

	.mob-menu


.confidence-link
	display: inline-block
	color: v(sub-text-color)



@include max-screen($xl)

	.footer
		padding-top: 30px
		.sub-menu
			display: none
		.mob-menu
			display: block
		&__logo
			border-bottom: 1px dashed v(border-color)
			.img
				width: 164px
				height: 55px
				margin: 0 auto 30px
		&__text
			margin-top: 25px



@include max-screen($md)
	.footer
		&__logo
			.img
				width: 145px
				height: 49px


















