/* ----- footer ----- */

.footer
	padding-bottom: 30px
	background-color: v(additional-color)
	.sub-menu
		margin-bottom: 30px
		padding-bottom: 20px
		border-bottom: 1px dashed v(sub-text-color)
		.col-1-4
			display: flex
			flex-direction: column
		.confidence-link, .footer__logo
			margin-top: auto

	&__text
		line-height: 1.44
		color: v(sub-text-color)
		p:last-child
			margin-bottom: 0

	&__logo
		.img
			width: 185px
			height: 63px


.confidence-link
	display: inline-block
	color: v(sub-text-color)































