- var page = "commerce"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.wrapper


			// header
			include pug-modules/header
			// /.header

			
			.page.page--nohero.commerce
				.container
					.breadcrumbs(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem') 
							a(rel='nofollow', itemprop='item', title='Главная', href='/') 
								span(itemprop='name') Главная 
								meta(itemprop='position', content='1') 
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem') 
							a(rel='nofollow', itemprop='item', title='Коммерческая недвижимость', href='#') 
								span(itemprop='name') Коммерческая недвижимость
								meta(itemprop='position', content='2') 
					// /.breadcrumbs

					h2.h1.title Выбор коммерческих помещений

					.filter
						.filter-mob Фильтр по квартирам
							button.ui-btn.ui-btn--stroke(type="button")
								img.svg(src="img/icons/ic-dropdown-arrow.svg", alt="link", width="12", height="7")

						.filter-mob-collapse

							.filter-row
								.filter-fields
									.filter__field.filter-field
										.filter-field__label Площадь, м
											sup 2
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="22") 
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="158") 
											.ui-range__slider.ui-range-size

									.filter__field.filter-field
										.filter-field__label Стоимость, млн/р.
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="1.95")
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="12.8")
											.ui-range__slider.ui-range-cost
									
									.filter__field.filter-field
										.filter-field__label Готовность до
										select.ui-select(name="select_period", data-placeholder="2021")
											option(value="2020") 2020
											option.active(value="2021") 2021
											option(value="2022") 2022

									.filter__field.filter-field-result
										a.btn.btn--bg(href="#") 
											img.svg.btn__ic(src="img/icons/ic-search.svg", alt="phone", width="20", height="20") 
											| Показать результаты
							// /.filter__row


							.filter-row.filter__tech.flex-between
								a.sub-objects(href="#") 
									img.svg.btn__ic(src="img/icons/ic-nav-objects.svg", alt="nav", width="17", height="18")
									span Объекты ГК ФСК в Москве и МО
								button.filter-reset(type="button") Сбросить фильтр
							// /.filter__row
							
					// /.filter


					.results.results--nofloors
						.results__row.results__header
							.results__col
								.results__row
									// десктопная сортировка
									.results__cell.results-cell-1
										span План
									.results__cell.results-cell-2
										button.sort.sort--active(type="button")
											img.svg(src="img/icons/ic-sort.svg", width="9.5", height="9.25", alt="sort")
											span Площадь, м
												sup 2
									.results__cell.results-cell-4
										button.sort.sort--flip(type="button")
											img.svg(src="img/icons/ic-sort.svg", width="9.5", height="9.25", alt="sort")
											span Готовность
									.results__cell.results-cell-5
										button.sort(type="button")
											img.svg(src="img/icons/ic-sort.svg", width="9.5", height="9.25", alt="sort")
											span Цена
									
									// мобильная сортировка
									.mob-sort
										span.mob-sort__hint Сортировать
										select.ui-select(name="mob_sort", data-placeholder="по цене")
											option.active(value="2020") По цене
											option(value="2021") По площади
											option(value="2022") По готовности
										img.svg(src="img/icons/ic-sort.svg", width="9.5", height="9.25", alt="sort")
							// /.results__col	

							.interactive-btns
								a.interactive-btn.interactive-download(href="#", title="Скачать", download)
								a.interactive-btn.interactive-print(href="print.html", target="_blank", title="Распечатать")
								a.interactive-btn.interactive-favorite(href="#")
									img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
						
						// /.results__row


						.results__body

							.results__col
								.results-screen#results-screen
									.results__row.results-screen__header
										div.filter-data.dashed-underline Up-квартал Комендантский
										div от 
											span.filter-data 2 376 200 р.
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan-2.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan-3.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 23 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									
									.results__row.results-screen__header
										div.filter-data.dashed-underline Up-квартал Комендантский
										div от 
											span.filter-data 2 376 200 р.
								
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
									.results__row(data-plan="img-plan.jpg")
										.results__cell.results-cell-1.js-call-card
											img.img.plan-thumb(src="img/img-plan-thumb.jpg", alt="alt")
										.results__cell.results-cell-2
											span 22 м<sup>2</sup>
										.results__cell.results-cell-3
											span 1...9
										.results__cell.results-cell-4
											span 2021
										.results__cell.results-cell-5
											span 2 376 200 р.
										.results-cell-mob
											p.data-1 3-к квартира - 78 м<sup>2</sup>
											p.data-2 
												span 2 376 200 
												| р.
										.results-cell-btns
											button.interactive-btn.interactive-follow(type="button")
												img.svg.ic-arrow(src="img/icons/ic-arrow.svg", width="20", height="20", alt="Перейти")
						
							// /.results__col	

							.results__offer.results-offer
								.results__img
									img.img(src="img/img-plan.jpg", alt="plan")
									button.results-offer__modal.js-call-card(type="button")
										img.svg(src="img/icons/ic-flat-plan.svg", width="36", height="44", alt="flat plan")
								.results-offer__footer
									.results-offer__text
										p Интересует студия 22.3 м<sup>2</sup> ? 
										p Посмотрите 
											button.text-btn.js-call-card(button="button") подробнее!
									.results-offer__btn
										button.btn.btn--cta(type="button") 
											img.svg.btn__ic.ic-tel(src="img/icons/ic-tel.svg", alt="phone", width="12", height="20") 
											| Позвоните мне
							// /.results__offer
						

						// /.results__body


					// /.results


				// /.container


				// form
				include pug-modules/cta
				// /.form


			// /.page


			// Карточка
			include pug-modules/card
			// /.card


			// footer
			include pug-modules/footer
			// /.footer
			

		// /.wrapper
		







