- var page = "confidence"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.wrapper


			// header
			include pug-modules/header
			// /.header

			
			.page.page--nohero
				.container
					.breadcrumbs(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
							a(rel='nofollow', itemprop='item', title='Главная', href='/')
								span(itemprop='name') Главная
								meta(itemprop='position', content='1')
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
							a(rel='nofollow', itemprop='item', title='Политика конфиденциальности', href='#')
								span(itemprop='name') Политика конфиденциальности
								meta(itemprop='position', content='2')

					h1.title.title-margin Политика конфиденциальности

					.content
						p Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе. Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. 
						p Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. 
						p Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. 
						p Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.
						p Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. 
						p Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. 
						p Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.Пожалуй, самая изящная мужская обувь на осень и зиму. Правда, учитывая московскую погоду, далеко не каждый сможет носить аккуратные челси из замши на тонкой подошве каждый день. Если, конечно, ваш стиль жизни не подразумевает короткие перебежки от дома до машины, от машины до офиса и обратно. В противном случае присмотритесь к моделям из кожи или нубука, на толстой подошве или платформе.


				// /.container




			// /.page


			// footer
			include pug-modules/footer
			// /.footer


		// /.wrapper
			

		


