- var page = "links"

doctype html
html(lang="ru")

	include pug-modules/head

	body


	.pages-nav
		.container
			.pages-logo
				img.img(src="img/svg-logo.svg", alt="FSK")

			table.pages-nav__table
				tbody
					tr
						td
							a.pages-nav__item(href='main.html', target='_blank') Главная
					tr
						td 
							a.pages-nav__item(href='newbuild.html', target='_blank') Новостройки
						td
							a.pages-nav__item(href='page.html', target='_blank') Страница ЖК
						td
							a.pages-nav__item(href='filter2.html', target='_blank') Фильтр без цен
					tr
						td
							a.pages-nav__item(href='commerce-1.html', target='_blank') Коммерческие 1
						td
							a.pages-nav__item(href='commerce-2.html', target='_blank') Коммерческие 2
						td
							a.pages-nav__item(href='page-commerce.html', target='_blank') Страница ЖК коммерция
					tr
						td
							a.pages-nav__item(href='news.html', target='_blank') Новости
						td
							a.pages-nav__item(href='news-page.html', target='_blank') Страница новости
					tr
						td
							a.pages-nav__item(href='discounts.html', target='_blank') Акции и скидки
						td
							a.pages-nav__item(href='discounts-page.html', target='_blank') Страница акции
					tr
						td
							a.pages-nav__item(href='ipo.html', target='_blank') Ипотека	
					tr
						td
							a.pages-nav__item(href='docs.html', target='_blank') Документы
					tr
						td
							a.pages-nav__item(href='vacancy.html', target='_blank') Вакансии
					tr
						td
							a.pages-nav__item(href='print.html', target='_blank') PDF 1
						td
							a.pages-nav__item(href='print2.html', target='_blank') PDF (без цены)
					tr
						td
							a.pages-nav__item(href='404.html', target='_blank') 404
					tr
						td
							a.pages-nav__item(href='company.html', target='_blank') Компания
					tr
						td
							a.pages-nav__item(href='favourite.html', target='_blank') Избранное
					tr
						td
							a.pages-nav__item(href='contacts.html', target='_blank') Контакты
					tr
						td
							a.pages-nav__item(href='clients.html', target='_blank') Клиентский сервис
				
				














			//- ul.pages-nav__list
			//- 	li
			//- 		a.pages-nav__item(href='main.html', target='_blank') Главная
			//- 	li
			//- 		a.pages-nav__item(href='filter2.html', target='_blank') Фильтр на странице ЖК
			//- 	li
			//- 		a.pages-nav__item(href='news.html', target='_blank') Новости
			//- 	li
			//- 		a.pages-nav__item(href='news-page.html', target='_blank') Страница новости
			//- 	li
			//- 		a.pages-nav__item(href='discounts.html', target='_blank') Акции и скидки
			//- 	li
			//- 		a.pages-nav__item(href='discounts-page.html', target='_blank') Страница акции
			//- 	li
			//- 		a.pages-nav__item(href='ipo.html', target='_blank') Ипотека
			//- 	li
			//- 		a.pages-nav__item(href='docs.html', target='_blank') Документы
			//- 	li
			//- 		a.pages-nav__item(href='vacancy.html', target='_blank') Вакансии
			//- 	li
			//- 		a.pages-nav__item(href='404.html', target='_blank') 404
			//- 	li
			//- 		a.pages-nav__item(href='print.html', target='_blank') PDF
			//- 	li
			//- 		a.pages-nav__item(href='company.html', target='_blank') Компания
			//- 	li
			//- 		a.pages-nav__item(href='favourite.html', target='_blank') Избранное

		


