- var page = "main"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.wrapper


			// header
			include pug-modules/header
			// /.header

			
			.page.page-main
			
				.main-hero
					.container
						// bg-slider
						.bg-slider
							.slide
								img.img(src="img/img-main-1.jpg", alt="alt")
							.slide
								img.img(src="img/img-main-2.jpg", alt="alt")
							.slide
								img.img(src="img/img-main-3.jpg", alt="alt")
							.slide
								img.img(src="img/img-main-4.jpg", alt="alt")
						
						// main-slider
						.main-slider
							.slide
								.h2.main-slider__title Супер выгодная акция на&nbsp;квартиры в UP "Комендантский" с&nbsp;продолжением!
								a.btn.btn--transp(href="#") 
									img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
									| Подробнее
							.slide
								.h2.main-slider__title Супер выгодная акция на&nbsp;квартиры в UP "Комендантский" с&nbsp;продолжением!
								a.btn.btn--transp(href="#") 
									img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
									| Подробнее
							.slide
								.h2.main-slider__title Супер выгодная акция на&nbsp;квартиры в UP "Комендантский" с&nbsp;продолжением!
								a.btn.btn--transp(href="#") 
									img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
									| Подробнее
							.slide
								.h2.main-slider__title Супер выгодная акция на&nbsp;квартиры в UP "Комендантский" с&nbsp;продолжением!
								a.btn.btn--transp(href="#") 
									img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
									| Подробнее

				// /.main-hero


				.container

					h2.h1.title Выбор квартир

					.filter
						.filter-mob Фильтр по квартирам
							button.ui-btn.ui-btn--stroke(type="button")
								img.svg(src="img/icons/ic-dropdown-arrow.svg", alt="link", width="12", height="7")

						.filter-mob-collapse

							.filter-row
								.filter-fields
									.filter__field.filter-field
										.filter-field__label Количество комнат
										.ui-checkbox-group
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-0(type="checkbox", name="filter_rooms_C")
												label.ui-checkbox__label(for="checkbox-rooms-0") С
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-1(type="checkbox", name="filter_rooms_1")
												label.ui-checkbox__label(for="checkbox-rooms-1") 1
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-2(type="checkbox", name="filter_rooms_2")
												label.ui-checkbox__label(for="checkbox-rooms-2") 2
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-3(type="checkbox", name="filter_rooms_3")
												label.ui-checkbox__label(for="checkbox-rooms-3") 3
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-4(type="checkbox", name="filter_rooms_4")
												label.ui-checkbox__label(for="checkbox-rooms-4") 4
											.ui-checkbox
												input.ui-checkbox__input#checkbox-rooms-5(type="checkbox", name="filter_rooms_5")
												label.ui-checkbox__label(for="checkbox-rooms-5") 5

									.filter__field.filter-field
										.filter-field__label Стоимость, млн/р.
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="1.95")
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="12.8")
											.ui-range__slider.ui-range-cost

									.filter__field.filter-field
										.filter-field__label Площадь, м
											sup 2
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="22") 
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="158") 
											.ui-range__slider.ui-range-size
									
									.filter__field.filter-field
										.filter-field__label Готовность до
										select.ui-select(name="select_period", data-placeholder="2021")
											option(value="2020") 2020
											option.active(value="2021") 2021
											option(value="2022") 2022
							// /.filter__row

							.filter-row.filter__hidden
								.filter-fields
									.filter__field.filter-field
										.filter-field__label Площадь кухни, м
											sup 2
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="12") 
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="46") 
											.ui-range__slider.ui-range-kitchen

									.filter__field.filter-field
										.filter-field__label Этаж
										.ui-range
											.ui-range__col
												span от
												input.ui-range__val.ui-range__from(value="1") 
											.ui-range__col
												span до
												input.ui-range__val.ui-range__to(value="26") 
											.ui-range__slider.ui-range-floor

									.filter__field.filter-field
										.filter-field__label Корпус
										select.ui-select(name="select_building", data-placeholder="2 корпус")
											option(value="1 корпус") 1 корпус
											option.active(value="2 корпус") 2 корпус
											option(value="3 корпус") 3 корпус

									.filter__field.filter-field-
										.filter-field__label Апартаменты
										.ui-toggle
											.ui-toggle__item
												input#apartment-yes.ui-toggle__input(type="radio", name="apartments", value="yes", checked)
												label.ui-toggle__label(for="apartment-yes") Отображать
											.ui-toggle__item
												input#apartment-no.ui-toggle__input(type="radio", name="apartments", value="no")
												label.ui-toggle__label(for="apartment-no") Скрыть
							// /.filter__row

							.filter-row.filter__tech
								button.filter-additional(type="button") Дополнительные параметры
								button.filter-reset(type="button") Сбросить фильтр
								a.btn.btn--bg(href="#") 
									img.svg.btn__ic(src="img/icons/ic-search.svg", alt="phone", width="20", height="20") 
									| Показать результаты
							// /.filter__row
							
					// /.filter

					.results.results-geo
						.results-geo__label Показать 
							span.results-geo__result 2 объекта
						button.ui-btn.ui-btn--stroke.results-geo__btn(type="button")
							img.svg(src="img/icons/ic-dropdown-arrow.svg", alt="link", width="12", height="7")


						.map#map
							img.img(src="img/img-map.jpg", alt="alt", style="width: 100%; height: 100%; object-fit: cover;")
							.marker(style="top: 50px; left: 50px;")
								<svg class="marker__ic" xmlns="http://www.w3.org/2000/svg" width="51.97" height="56.362" viewBox="0 0 51.97 56.362"><g transform="translate(-1146.5 -1134)"><path d="M27.482,55.821a78.984,78.984,0,0,1,10.827-7.374c7.938-4.625,13.661-12.88,13.661-22.688a25.986,25.986,0,0,0-51.97,0c0,9.829,5.817,18.118,13.713,22.715A77.947,77.947,0,0,1,24.5,55.821,2.331,2.331,0,0,0,27.482,55.821Z" transform="translate(1146.5 1134)" fill="#030048"/><ellipse cx="12" cy="11.5" rx="12" ry="11.5" transform="translate(1160.296 1148.785)" fill="#fff"/></g></svg>
								.marker__hint
									div.marker__title Комендантский квартал
									.p-metro.flex
										.p-metro__branch(style="border-color: #FFA7AF;")
										span Окружная
							.marker(style="top: 150px; left: 90px;")
								<svg class="marker__ic" xmlns="http://www.w3.org/2000/svg" width="51.97" height="56.362" viewBox="0 0 51.97 56.362"><g transform="translate(-1146.5 -1134)"><path d="M27.482,55.821a78.984,78.984,0,0,1,10.827-7.374c7.938-4.625,13.661-12.88,13.661-22.688a25.986,25.986,0,0,0-51.97,0c0,9.829,5.817,18.118,13.713,22.715A77.947,77.947,0,0,1,24.5,55.821,2.331,2.331,0,0,0,27.482,55.821Z" transform="translate(1146.5 1134)" fill="#030048"/><ellipse cx="12" cy="11.5" rx="12" ry="11.5" transform="translate(1160.296 1148.785)" fill="#fff"/></g></svg>
								.marker__hint
									div.marker__title Дыхание
									.p-metro.flex
										.p-metro__branch(style="border-color: #A7CDFF;")
										span Окружная
							.marker(style="top: 250px; left: 130px;")
								<svg class="marker__ic" xmlns="http://www.w3.org/2000/svg" width="51.97" height="56.362" viewBox="0 0 51.97 56.362"><g transform="translate(-1146.5 -1134)"><path d="M27.482,55.821a78.984,78.984,0,0,1,10.827-7.374c7.938-4.625,13.661-12.88,13.661-22.688a25.986,25.986,0,0,0-51.97,0c0,9.829,5.817,18.118,13.713,22.715A77.947,77.947,0,0,1,24.5,55.821,2.331,2.331,0,0,0,27.482,55.821Z" transform="translate(1146.5 1134)" fill="#030048"/><ellipse cx="12" cy="11.5" rx="12" ry="11.5" transform="translate(1160.296 1148.785)" fill="#fff"/></g></svg>
								.marker__hint
									div.marker__title Римский
									.p-metro.flex
										.p-metro__branch(style="border-color: #A7FFB0;")
										span Окружная


					// /.results

				// /.container


				.container.section-margin
					h2.h1.title Объекты
					
					.quarter-list.view-1
						.quarter
							.quarter__img-wrap
								img.quarter__img(src="img/img-quarter.jpg", alt="alt")
								.quarter__overlay
									img.img(src="img/quarter-name.svg", width="277", height="70", alt="alt")
							.quarter__content
								.quarter__title UP-квартал Комендантский 
								.quarter__transport.flex
									.p-metro.flex
										.p-metro__branch(style="border-color: #33B7FB;")
										span Московская
									.p-distance.flex
										img.svg(src="img/icons/ic-walk-dist.svg", width="8", height="13", alt="alt")
										span 5 
											| мин./пешком
									.p-distance.flex
										img.svg(src="img/icons/ic-transport-dist.svg", width="15", height="16", alt="alt")
										span 10 
											| мин./транспортом
								.quarter__info.my-readmore
									p 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие. 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие
								.p-discount.flex
									.p-discount__ic %
									p.p-discount__txt Только до 15 сентября до 15%!
								.quarter__footer
									.p-key.p-key--blue
										.p-key__ic 
										.p-key__txt Квартиры от 
											b 15.6 
											| млн/р.
									.p-key.p-key--green
										.p-key__ic 
										.p-key__txt Ключи 1 оч. в 2020!
									a.btn.btn--bg.quarter-link(href="#") 
										img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Подробнее
						// /.quarter
						
						.quarter
							.quarter__img-wrap
								div.img.img-empty
							.quarter__content
								.quarter__title UP-квартал Комендантский 
								.quarter__transport.flex
									.p-metro.flex
										.p-metro__branch(style="border-color: #33B7FB;")
										span Московская
									.p-distance.flex
										img.svg(src="img/icons/ic-walk-dist.svg", width="8", height="13", alt="alt")
										span 5 
											| мин./пешком
									.p-distance.flex
										img.svg(src="img/icons/ic-transport-dist.svg", width="15", height="16", alt="alt")
										span 10 
											| мин./транспортом
								.quarter__info.my-readmore
									p 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие.
								.p-discount.flex
									.p-discount__ic %
									p.p-discount__txt Только до 15 сентября до 15%!
								.quarter__footer
									.p-key.p-key--blue
										.p-key__ic 
										.p-key__txt Квартиры от 
											b 15.6 
											| млн/р.
									.p-key.p-key--green
										.p-key__ic 
										.p-key__txt Ключи 1 оч. в 2020!
									a.btn.btn--bg.quarter-link(href="#") 
										img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Подробнее
						// /.quarter

					// /.quarter-list 1

					.quarter-list.view-2
						.f-row
							.cols.col-1-2
								.quarter
									.quarter__img-wrap
										img.quarter__img(src="img/img-quarter.jpg", alt="alt")
										.quarter__overlay
											img.img(src="img/quarter-name.svg", width="277", height="70", alt="alt")
									.quarter__content
										.quarter__title UP-квартал Комендантский 
										.quarter__transport.flex
											.p-metro.flex
												.p-metro__branch(style="border-color: #33B7FB;")
												span Московская
										.quarter__info
											p 
												a(href="#") Студии -  1,95 млн /р.
											p 
												a.accent-link(href="#") 1 ккв - от 2,32 млн /р.
											p 
												a(href="#") 2 ккв - от 4,35 млн /р.
											p
												a.accent-link(href="#") 3 ккв - от 5.85 млн /р.
											p
												a.sub-link(href="#") 4 ккв - нет в продаже
											p
												a.sub-link(href="#") 5 ккв - нет в продаже 
										.p-discount.flex
											.p-discount__ic %
											p.p-discount__txt Только до 15 сентября <span class="nowrap">до 15%!</span>
										.quarter__footer
											.p-key.p-key--green
												.p-key__ic 
												.p-key__txt Ключи 1 оч. в 2020!
						
							// /.quarter

							.cols.col-1-2
								.quarter
									.quarter__img-wrap
										img.quarter__img(src="img/img-quarter.jpg", alt="alt")
										.quarter__overlay
											img.img(src="img/quarter-name.svg", width="277", height="70", alt="alt")
									.quarter__content
										.quarter__title UP-квартал Комендантский 
										.quarter__transport.flex
											.p-metro.flex
												.p-metro__branch(style="border-color: #33B7FB;")
												span Московская
										.quarter__info
											p 
												a(href="#") Студии -  1,95 млн /р.
											p 
												a.accent-link(href="#") 1 ккв - от 2,32 млн /р.
											p 
												a(href="#") 2 ккв - от 4,35 млн /р.
											p
												a.accent-link(href="#") 3 ккв - от 5.85 млн /р.
											p
												a.sub-link(href="#") 4 ккв - нет в продаже
											p
												a.sub-link(href="#") 5 ккв - нет в продаже 
										.p-discount.flex
											.p-discount__ic %
											p.p-discount__txt Только до 15 сентября <span class="nowrap">до 15%!</span>
										.quarter__footer
											.p-key.p-key--green
												.p-key__ic 
												.p-key__txt Ключи 1 оч. в 2020!
							
							// /.quarter

							.cols.col-1-2
								.quarter
									.quarter__img-wrap
										div.img.img-empty
									.quarter__content
										.quarter__title UP-квартал Комендантский 
										.quarter__transport.flex
											.p-metro.flex
												.p-metro__branch(style="border-color: #33B7FB;")
												span Московская
										.quarter__info
											p 
												a(href="#") Студии -  1,95 млн /р.
											p 
												a.accent-link(href="#") 1 ккв - от 2,32 млн /р.
											p 
												a(href="#") 2 ккв - от 4,35 млн /р.
											p
												a.accent-link(href="#") 3 ккв - от 5.85 млн /р.
											p
												a.sub-link(href="#") 4 ккв - нет в продаже
											p
												a.sub-link(href="#") 5 ккв - нет в продаже 
										.p-discount.flex
											.p-discount__ic %
											p.p-discount__txt Только до 15 сентября <span class="nowrap">до 15%!</span>
										.quarter__footer
											.p-key.p-key--green
												.p-key__ic 
												.p-key__txt Ключи 1 оч. в 2020!
							
							// /.quarter

					// /.quarter-list 2

					.results-empty По вашему запросу ничего не найдено :(

					.quarter-list.view-1
						.quarter
							.quarter__img-wrap
								img.quarter__img(src="img/img-quarter.jpg", alt="alt")
								.quarter__overlay
									img.img(src="img/quarter-name.svg", width="277", height="70", alt="alt")
							.quarter__content
								.quarter__title UP-квартал Комендантский 
								.quarter__transport.flex
									.p-metro.flex
										.p-metro__branch(style="border-color: #33B7FB;")
										span Московская
									.p-distance.flex
										img.svg(src="img/icons/ic-walk-dist.svg", width="8", height="13", alt="alt")
										span 5 
											| мин./пешком
									.p-distance.flex
										img.svg(src="img/icons/ic-transport-dist.svg", width="15", height="16", alt="alt")
										span 10 
											| мин./транспортом
								.quarter__info.my-readmore
									p 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие. 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие
								.p-discount.flex
									.p-discount__ic %
									p.p-discount__txt Только до 15 сентября до 15%!
								.quarter__footer
									.p-key.p-key--blue
										.p-key__ic 
										.p-key__txt Квартиры от 
											b 15.6 
											| млн/р.
									.p-key.p-key--green
										.p-key__ic 
										.p-key__txt Ключи 1 оч. в 2020!
									a.btn.btn--bg.quarter-link(href="#") 
										img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Подробнее
						
						// /.quarter

						.quarter
							.quarter__img-wrap
								img.quarter__img(src="img/img-quarter.jpg", alt="alt")
								.quarter__overlay
									img.img(src="img/quarter-name.svg", width="277", height="70", alt="alt")
							.quarter__content
								.quarter__title UP-квартал Комендантский 
								.quarter__transport.flex
									.p-metro.flex
										.p-metro__branch(style="border-color: #33B7FB;")
										span Московская
									.p-distance.flex
										img.svg(src="img/icons/ic-walk-dist.svg", width="8", height="13", alt="alt")
										span 5 
											| мин./пешком
									.p-distance.flex
										img.svg(src="img/icons/ic-transport-dist.svg", width="15", height="16", alt="alt")
										span 10 
											| мин./транспортом
								.quarter__info.my-readmore
									p 240 квартир со скидкой от 450 000. Выгодное предложения июня 2019. Успейте с максимальными скидками. Акция действует только в Июне, и если не купите вы - купят другие.
								.p-discount.flex
									.p-discount__ic %
									p.p-discount__txt Только до 15 сентября до 15%!
								.quarter__footer
									.p-key.p-key--blue
										.p-key__ic 
										.p-key__txt Квартиры от 
											b 15.6 
											| млн/р.
									.p-key.p-key--green
										.p-key__ic 
										.p-key__txt Ключи 1 оч. в 2020!
									a.btn.btn--bg.quarter-link(href="#") 
										img.svg.btn__ic.ic-arrow(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Подробнее
						
						// /.quarter


					// /.quarter-list 1
					
				// /.container

				.container.section-margin
					h2.h1.title ФСК «Лидер» в цифрах
					.advantages-list
						.advantage
							img.img(src="img/img-advantage-1.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 13
									span.advantage__label.advantage__units лет
								p.advantage__txt стабильного роста бизнеса
						.advantage
							img.img(src="img/img-advantage-2.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 6,2
									span.advantage__label.advantage__units млн м<sup>2<sup>
								p.advantage__txt совокупный объем проектов за 13 лет
						.advantage
							img.img(src="img/img-advantage-3.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 971 
									span.advantage__label.advantage__units тыс м<sup>2<sup>
								p.advantage__txt введено в&nbsp;эксплуатацию в&nbsp;2017 году
						.advantage
							img.img(src="img/img-advantage-4.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 27
									span.advantage__label жилых комплексов
								p.advantage__txt 14 построено и&nbsp;введено в&nbsp;эксплуатацию
						.advantage
							img.img(src="img/img-advantage-5.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 7 580
								p.advantage__txt мест в детских садах и школах
						.advantage
							img.img(src="img/img-advantage-6.svg", alt="alt")
							.advantage__content
								.advantage__data
									span.advantage__number 12 600
								p.advantage__txt человек – общее количество сотрудников

				// /.container


				.container
					h2.h1.title Новости
					.p-list
						.f-row
							.cols.col-1-2
								.p-item
									.p-item__img
										a(href="news-page.html")
											img.img(src="img/img-thumb-1.jpg", alt="news1")
									.p-item__content
										span.p-item__date 31 января 2020
										.p-item__title
											a(href="news-page.html") Длинный заголовок какой-то новости или акции, которая длится очень долго и...
										a.btn.btn--transp(href="news-page.html")
											img.svg.btn__ic.ic-read(src="img/icons/ic-read.svg", alt="link", width="15", height="19")
											| Подробнее
							.cols.col-1-2
								.p-item
									.p-item__img
										a(href="news-page.html")
											div.img.img-empty
									.p-item__content
										span.p-item__date 31 января 2020
										.p-item__title
											a(href="news-page.html") Длинный заголовок какой-то новости или акции, которая длится очень долго и...
										a.btn.btn--transp(href="news-page.html")
											img.svg.btn__ic.ic-read(src="img/icons/ic-read.svg", alt="link", width="15", height="19")
											| Подробнее

				// /.container


			// /.page

			// footer
			include pug-modules/footer
			// /.footer
			

		// /.wrapper


	

		







