- var page = "news-page"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.wrapper


			// header
			include pug-modules/header
			// /.header

			
			.page
				.container

					.p-hero(style="background-image: url('img/img-article-hero.jpg')")
						.p-hero__inner
							.p-hero__top 31 января 2020
							h1.h2.p-hero__title Новость про время работы офиса продаж.
							.breadcrumbs(itemscope='', itemtype='http://schema.org/BreadcrumbList')
								span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
									a(rel='nofollow', itemprop='item', title='Главная', href='/')
										span(itemprop='name') Главная
										meta(itemprop='position', content='1')
								span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
									a(rel='nofollow', itemprop='item', title='Новости', href='news.html')
										span(itemprop='name') Новости
										meta(itemprop='position', content='2')
								span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem')
									a(rel='nofollow', itemprop='item', title='Страница новости', href='#')
										span(itemprop='name') Новость про время работы.
										meta(itemprop='position', content='3')
							.p-hero__bottom 16 августа 2019 

					.content
						p Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса. Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса.
						.f-row
							.cols.col-1-2
								img.img(src="img/img-article-hero.jpg", alt="alt")
							.cols.col-1-2
								.img.img-empty
						p Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса. Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса. Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса. Жилой комплекс бизнес-класса в престижном Хорошёвском районе в окружении исторической сталинской застройки и статусных жилых комплексов. Это идеальное сочетание престижа района, авторской архитектуры, индивидуального подхода к планировкам и дизайну интерьеров комплекса.


					.section-margin
						h2.h1.title.title-margin Другие новости

						.p-list
							.f-row
								.cols.col-1-2
									.p-item
										.p-item__img
											a(href="#")
												img.img(src="img/img-thumb-1.jpg", alt="news1")
										.p-item__content
											span.p-item__date 31 января 2020
											.p-item__title
												a(href="news-page.html") Длинный заголовок какой-то новости или акции, которая длится очень долго и...
											a.btn.btn--transp(href="news-page.html")
												img.svg.btn__ic.ic-read(src="img/icons/ic-read.svg", alt="link", width="15", height="19")
												| Подробнее
								.cols.col-1-2
									.p-item
										.p-item__img
											a(href="#")
												.img.img-empty
										.p-item__content
											span.p-item__date 31 января 2020
											.p-item__title
												a(href="news-page.html") Длинный заголовок какой-то новости или акции, которая длится очень долго и...
											a.btn.btn--transp(href="news-page.html")
												img.svg.btn__ic.ic-read(src="img/icons/ic-read.svg", alt="link", width="15", height="19")
												| Подробнее



				// /.container


			// /.page

			// footer
			include pug-modules/footer
			// /.footer
			

		// /.wrapper
		


