- var page = "vacancy"

doctype html
html(lang="ru")

	include pug-modules/head

	body

		.wrapper


			// header
			include pug-modules/header
			// /.header

			
			.page.page-vacancy
				.container
					.breadcrumbs(itemscope='', itemtype='http://schema.org/BreadcrumbList')
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem') 
							a(rel='nofollow', itemprop='item', title='Главная', href='/') 
								span(itemprop='name') Главная 
								meta(itemprop='position', content='1') 
						span(itemscope='', itemprop='itemListElement', itemtype='http://schema.org/ListItem') 
							a(rel='nofollow', itemprop='item', title='Вакансии ФСК в Санкт-Петербурге', href='#') 
								span(itemprop='name') Вакансии ФСК в Санкт-Петербурге 
								meta(itemprop='position', content='2') 
					// /.breadcrumbs

					h1.title.title-margin Вакансии ФСК в Санкт-Петербурге

					.f-row
						.cols.col-1-2
							.vacancy
								.vacancy__img
									img.img(src="img/img-vacancy-1.jpg", alt="alt")
								.vacancy__content
									h2.h2.vacancy__title Бизнес-аналитик
									.vacancy__text
										p 
											b Обязанности:
										ul
											li Транспортное обслуживание первого лица компании
											li Своевременная подача автомобиля, доставка руководителя и членов его семьи к месту назначения
											li Обеспечение безопасности руководителя и членов его семьи (разрешение на ношение оружия - обязательно)
											li Содержание автомобиля в чистоте и исправном состоянии (заправка, мойка, своевременное прохождение ТО)
											li Составление отчетов о расходах на автомобиль
											li Выполнение личных поручений руководителя
									.vacancy__text
										p 
											b Требования:
										ul 
											li Профессиональное мастерство вождения
											li Опыт работы Персональным водителем vip класса или личным водителем от 5 лет
											li Отличное знание города и Лен. области, умение прогнозировать ситуацию на дороге
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
											li Презентабельный внешний вид, аккуратность, стрессоустойчивость (владение боевым искусством - обязательно)
											li Готовность к ненормированному рабочему дню
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
									.vacancy__text
										p 
											b Условия:
										ul
											li Оформление в соответствии с ТК РФ
											li Достойная заработная плата (обсуждается с успешным кандидатом)
											li Компенсация мобильной связи
								.vacancy__footer
									.email-row
										img.svg.btn__ic(src="img/icons/ic-mail.svg", alt="email", width="32", height="16")
										p Ждем ваши резюме на 
											a(href="mailto:hr@fsknw.ru") hr@fsknw.ru
									button.btn.btn-vacancy(type="button")
										img.svg.btn__ic.ic-arrow.ic-arrow--down(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Развернуть
									
							.vacancy
								.vacancy__img
									img.img(src="img/img-vacancy-1.jpg", alt="alt")
								.vacancy__content
									h2.h2.vacancy__title Бизнес-аналитик
									.vacancy__text
										p 
											b Обязанности:
										ul
											li Транспортное обслуживание первого лица компании
											li Своевременная подача автомобиля, доставка руководителя и членов его семьи к месту назначения
											li Обеспечение безопасности руководителя и членов его семьи (разрешение на ношение оружия - обязательно)
											li Содержание автомобиля в чистоте и исправном состоянии (заправка, мойка, своевременное прохождение ТО)
											li Составление отчетов о расходах на автомобиль
											li Выполнение личных поручений руководителя
									.vacancy__text
										p 
											b Требования:
										ul 
											li Профессиональное мастерство вождения
											li Опыт работы Персональным водителем vip класса или личным водителем от 5 лет
											li Отличное знание города и Лен. области, умение прогнозировать ситуацию на дороге
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
											li Презентабельный внешний вид, аккуратность, стрессоустойчивость (владение боевым искусством - обязательно)
											li Готовность к ненормированному рабочему дню
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
									.vacancy__text
										p 
											b Условия:
										ul
											li Оформление в соответствии с ТК РФ
											li Достойная заработная плата (обсуждается с успешным кандидатом)
											li Компенсация мобильной связи
								.vacancy__footer
									.email-row
										img.svg.btn__ic(src="img/icons/ic-mail.svg", alt="email", width="32", height="16")
										p Ждем ваши резюме на 
											a(href="mailto:hr@fsknw.ru") hr@fsknw.ru
									button.btn.btn-vacancy(type="button")
										img.svg.btn__ic.ic-arrow.ic-arrow--down(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Развернуть
									
						.cols.col-1-2
							.vacancy
								.vacancy__img
									img.img(src="img/img-vacancy-2.jpg", alt="alt")
								.vacancy__content
									h2.h2.vacancy__title Персональный водитель руководителя
									.vacancy__text
										p 
											b Обязанности:
										ul
											li Транспортное обслуживание первого лица компании
											li Своевременная подача автомобиля, доставка руководителя и членов его семьи к месту назначения
											li Обеспечение безопасности руководителя и членов его семьи (разрешение на ношение оружия - обязательно)
											li Содержание автомобиля в чистоте и исправном состоянии (заправка, мойка, своевременное прохождение ТО)
											li Составление отчетов о расходах на автомобиль
											li Выполнение личных поручений руководителя
									.vacancy__text
										p 
											b Требования:
										ul 
											li Профессиональное мастерство вождения
											li Опыт работы Персональным водителем vip класса или личным водителем от 5 лет
											li Отличное знание города и Лен. области, умение прогнозировать ситуацию на дороге
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
											li Презентабельный внешний вид, аккуратность, стрессоустойчивость (владение боевым искусством - обязательно)
											li Готовность к ненормированному рабочему дню
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
									.vacancy__text
										p 
											b Условия:
										ul
											li Оформление в соответствии с ТК РФ
											li Достойная заработная плата (обсуждается с успешным кандидатом)
											li Компенсация мобильной связи
								.vacancy__footer
									.email-row
										img.svg.btn__ic(src="img/icons/ic-mail.svg", alt="email", width="32", height="16")
										p Ждем ваши резюме на 
											a(href="mailto:hr@fsknw.ru") hr@fsknw.ru
									button.btn.btn-vacancy(type="button")
										img.svg.btn__ic.ic-arrow.ic-arrow--down(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Развернуть

							.vacancy
								.vacancy__img
									img.img(src="img/img-vacancy-2.jpg", alt="alt")
								.vacancy__content
									h2.h2.vacancy__title Персональный водитель руководителя
									.vacancy__text
										p 
											b Обязанности:
										ul
											li Транспортное обслуживание первого лица компании
											li Своевременная подача автомобиля, доставка руководителя и членов его семьи к месту назначения
											li Обеспечение безопасности руководителя и членов его семьи (разрешение на ношение оружия - обязательно)
											li Содержание автомобиля в чистоте и исправном состоянии (заправка, мойка, своевременное прохождение ТО)
											li Составление отчетов о расходах на автомобиль
											li Выполнение личных поручений руководителя
									.vacancy__text
										p 
											b Требования:
										ul 
											li Профессиональное мастерство вождения
											li Опыт работы Персональным водителем vip класса или личным водителем от 5 лет
											li Отличное знание города и Лен. области, умение прогнозировать ситуацию на дороге
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
											li Презентабельный внешний вид, аккуратность, стрессоустойчивость (владение боевым искусством - обязательно)
											li Готовность к ненормированному рабочему дню
											li Пунктуальность, ответственность, исполнительность, вежливость, бесконфликтность, соблюдение субординации, конфиденциальности
									.vacancy__text
										p 
											b Условия:
										ul
											li Оформление в соответствии с ТК РФ
											li Достойная заработная плата (обсуждается с успешным кандидатом)
											li Компенсация мобильной связи
								.vacancy__footer
									.email-row
										img.svg.btn__ic(src="img/icons/ic-mail.svg", alt="email", width="32", height="16")
										p Ждем ваши резюме на 
											a(href="mailto:hr@fsknw.ru") hr@fsknw.ru
									button.btn.btn-vacancy(type="button")
										img.svg.btn__ic.ic-arrow.ic-arrow--down(src="img/icons/ic-arrow.svg", alt="link", width="20", height="20")
										| Развернуть






				// /.container

			// /.page


			// footer
			include pug-modules/footer
			// /.footer


		// /.wrapper
			

		


