/* ------------------------------------- 
	Common styles 
	------------------------------------- */

.wrapper
	padding-top: 60px
.page
	padding-bottom: 50px

	
/* ---------- Grid ---------- */
.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto

@media (min-width: 576px)
	.container
		max-width: 540px

@media (min-width: 768px)
	.container
		max-width: 768px
		padding-right: 24px
		padding-left: 24px

@media (min-width: 1024px)
	.container
		max-width: 1024px

@media (min-width: 1200px)
	.container
		max-width: 1248px

.flex
	display: flex
	flex-wrap: wrap

.f-row
	display: flex
	flex-wrap: wrap
	margin-left: -12px
	margin-right: -12px
.cols
	padding-left: 12px
	padding-right: 12px
.col-1-2
	width: 50%
.col-1-3
	width: 33.33333%
.col-1-4
	width: 25%


/* ---------- Additional styles--------- */
.img
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

.accent-color
	color: v(accent-color)
.sub-color
	color: v(sub-text-color)
.text-bold
	font-weight: 500




/* ---------- Titles, texts, lists ---------- */
h1, .h1
	font-size: 30px
	font-weight: 300
h2, h3, h4, h5, h6
	font-weight: 500
h2, .h2
	font-size: 25px
	line-height: 1.2
h3, h4, h5, .h3
	font-size: 20px

.title
	font-weight: 300
	padding-left: 0.5em
	border-left: 3px solid v(accent-color)
	&-margin
		margin-bottom: 1em

.sub-text
	font-size: 14px
	color: v(sub-text-color)

.list
	margin: 0
	padding: 0
	list-style: none
	li
		&:not(:last-child)
			margin-bottom: .2em
ul.list
	li
		position: relative
		padding-left: 15px
		&::before
			content: ''
			display: block
			width: 6px
			height: 6px
			border-radius: 50%
			position: absolute
			top: .5em
			left: 0
			background: v(accent-color)
ol.list
	counter-reset: li
	li
		&::before
			counter-increment: li
			content: counter(li)'.'
			display: inline-block
			margin-right: .2em
			color: v(accent-color)

.content-list
	display: flex
	flex-wrap: wrap
	margin: 0
	padding: 0
	list-style: none
	&:last-child
		margin-bottom: -30px
	li
		display: flex
		align-items: center
		margin-bottom: 30px
		padding-right: 60px
	&__img
		min-width: 32px
		margin-right: 10px
		.img
			margin-bottom: 0 !important


.section-margin
	margin-top: 50px

.content
	.img
		margin-bottom: 1.25rem
	.list:not(:last-child)
		margin-bottom: 1.25rem
	&-margin:not(:last-child)
		margin-bottom: 3rem
	.advantages-list
		margin: 1rem 0 0
	+ .content
		margin-top: 50px

.content-m-top
	margin-top: calc(50px - 1rem)



/* ----- Buttons ----- */
.btn
	position: relative
	display: inline-flex
	align-items: center
	justify-content: center
	min-width: 228px
	height: 50px
	padding: .25em 1em
	border-width: 1px
	border-style: solid
	border-radius: $bd-r
	font-size: 16px
	font-weight: 300
	@include trs(.1s)
	&:hover
		@include trs(.1s)
		color: $white
	&:focus
		box-shadow: 0 0 5px v(accent-color)
	&--bg
		background-color: v(accent-color)
		border-color: v(accent-color)
		color: $white
		.btn__ic
			fill: $white
			stroke: $white
			border-color: $white
		&:hover
			box-shadow: 0 5px 10px rgba(233, 66, 0, 0.4)
	&--transp
		background-color: transparent
		border-color: v(border-color)
		color: v(text-color)
		transition-delay: .2s
		.btn__ic
			fill: v(accent-color)
			stroke: v(accent-color)
			border-color: v(accent-color)
		&:hover
			box-shadow: $shadow1
			.btn__ic
				fill: $white
				stroke: $white
				border-color: $white
			.ic-read *
				stroke: $white
	&--border
		background-color: $white
		border-color: v(accent-color)
		color: v(accent-color)
		&:hover
			box-shadow: $shadow1
	&--cta
		background-color: v(cta-color)
		border-color: v(cta-color)
		font-weight: 500
		color: $white
		&:hover
			background-color: v(cta-color) !important
			box-shadow: 0 0 7px 2px v(cta-color)
		.ic-tel *
			stroke: $white
		.ripple-effect
			display: none !important



	&__ic
		display: inline-block
		margin-right: 7px
		@include trs(.1s)

.ui-btn
	display: flex
	align-items: center
	justify-content: center
	width: 50px
	height: 50px
	border-radius: $bd-r
	background-color: $white
	border: 1px solid v(accent-color)
	cursor: pointer
	@include trs(.1s)
	.svg, .svg *
		display: block
		fill: v(accent-color)
		stroke: v(accent-color)
		@include trs(.1s)
	&:hover
		border-color: v(accent-color)
		background-color: v(accent-color)
		box-shadow: 0 8px 15px 0 rgba(233,66,0,.3)
		.svg, .svg *
			stroke: $white
			fill: $white
	&--stroke
		.svg, .svg *
			fill: none
		&:hover
			.svg, .svg *
				fill: none


/* ----- Icons ----- */
.ic-home, .ic-arrow
	border-radius: 50%
	border-width: 1.25px
	border-style: solid
.ic-arrow--down
	transform: rotate(90deg)





/* ----- breadcrumbs ----- */
.breadcrumbs
	padding: 20px 0
	font-size: 14px
	color: $sub-text-color
	>
		span
			display: inline-block
			+ span:before
				content: ""
				display: inline-block
				width: 4px
				height: 7px
				background: url('../img/icons/ic-breadcrumb-accent.svg') no-repeat
				margin: 0 4px
			a
				color: inherit
				border-bottom: 1px dashed transparent
				&:hover
					color: inherit
					border-bottom-color: currentColor

			&:last-child
				a
					cursor: default
					&:hover
						border-bottom-color: transparent


/* ----- close btn ----- */
.close-btn
	width: 30px
	height: 30px
	opacity: .9
	padding: 0
	cursor: pointer
	color: $white
	&:hover
		opacity: 1
	&::before, &::after
		content: ""
		position: absolute
		top: 0
		left: 15px
		width: 2px
		height: 100%
		border-radius: 1px
		background-color: currentColor
		transition: all .1s
	&::before
		transform: rotate(45deg)
	&::after
		transform: rotate(-45deg)



.js-tab-item:not(:first-child)
	display: none



.slider
	&-arrow
		display: flex
		align-items: center
		justify-content: center
		width: 50px
		height: 50px
		border-radius: $bd-r
		background-color: v(accent-color)
		border: 1px solid v(accent-color)
		cursor: pointer
		@include trs(.1s)
		.svg, .svg *
			display: block
			stroke: $white
			@include trs(.1s)
		&:hover
			background-color: $white
			.svg, .svg *
				stroke: v(accent-color)
	&-prev
		.svg
			transform: rotate(90deg)
	&-next
		.svg
			transform: rotate(-90deg)

	&-dots
		display: flex
		align-items: center
		margin: 0
		padding: 0
		list-style: none
		font-size: 0
		button
			display: block
			width: 5px
			height: 5px
			background: $white
			border: none
			border-radius: 50%
			margin: 0 6.5px
			opacity: 0.5
			@include trs(.1s)
			&:hover
				transform: scale(1.4)
		.slick-active button
			transform: scale(1.4)
			opacity: 1
		&--dark
			button
				background: #DFDFDF
				opacity: 1
			.slick-active button
				transform: scale(1.8)
				background: v(accent-color)





.p-metro
	align-items: center
	line-height: 1
	&__branch
		width: 15px
		flex: 0 0 15px
		height: 15px
		margin-right: 8px
		border-radius: 50%
		border-width: 4px
		border-style: solid

.p-distance
	align-items: center
	.svg
		margin-right: 8px

.p-discount
	align-items: center
	font-weight: 500
	&__ic
		display: flex
		align-items: center
		justify-content: center
		width: 30px
		flex: 0 0 30px
		height: 30px
		margin-right: 10px
		border-radius: 50%
		background: #ffc919
		font-size: 19px
		line-height: 1
		color: #000
	&__txt
		margin: 0
		flex: 1
		max-width: 100%
		font-weight: 500


	
.lk-link, .vk-link 
	display: inline-flex
	align-items: center
	&::before
		content: ''
		display: inline-block
		margin-right: 10px
		background-repeat: no-repeat
		background-size: 100%
		@include trs(.1s)
	&:hover::before
		transform: translateX(2px)
.lk-link
	&::before
		width: 19px
		flex: 0 0 19px
		height: 19px
		background-image: url('../img/icons/ic-login.svg')
.vk-link
	&::before
		width: 20px
		flex: 0 0 20px
		height: 12px
		background-image: url('../img/icons/ic-vk.svg')









@include max-screen($xl)
	.hide-on-mob
		display: none



@include max-screen($lg)
	h1, .h1
		font-size: 25px
	h2, .h2
		font-size: 20px




@include max-screen($md)
	.content
		.f-row
			margin: 0
		.cols
			padding: 0
		.col-1-2
			width: 100%
	.content .advantages-list
		margin-bottom: 2rem








