.card.mfp-hide#card-example
	.p-relative
		button.close-btn.mfp-close(type="button")
		.h1.card__title 3-к квартира, 42 м<sup>2</sup>
		.card__body.js-tab-wrapper
			.card__col-1
				.card__tabs-wrap
					.card__tabs.js-tabs
						button.js-tab.js-tab--active(type="button") Планировка
						button.js-tab(type="button") На этаже
						button.js-tab(type="button") Схема корпусов
						button.js-tab(type="button") Отделка
				.tooltip
					.tooltip__icon
					.tooltip__hidden Информация на данном сайте, и в частности, на текущей странице не является офертой и размещена для ознакомления. Данная планировка не является технической документацией представлена для ознакомления.
			.card__col-2
				.card__img.js-tab-item
					.card-img-btns
						button.ui-btn.zoom-link(href="img/img-plan-big.jpg")
							img.svg(src="img/icons/ic-zoom.svg", width="15", height="15", alt="zoom")
						a.interactive-btn.interactive-favorite(href="#")
							img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
					img.img(src="img/img-plan.jpg", alt="plan")
				.card__img.js-tab-item
					.card-img-btns
						button.ui-btn.zoom-link(href="#")
							img.svg(src="img/icons/ic-zoom.svg", width="15", height="15", alt="zoom")
						a.interactive-btn.interactive-favorite(href="#")
							img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
					div.img.img-empty
				.card__img.js-tab-item
					.card-img-btns
						button.ui-btn.zoom-link(href="#")
							img.svg(src="img/icons/ic-zoom.svg", width="15", height="15", alt="zoom")
						a.interactive-btn.interactive-favorite(href="#")
							img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
					div.img.img-empty
				.card__img.js-tab-item
					.card-img-btns
						button.ui-btn.zoom-link(href="#")
							img.svg(src="img/icons/ic-zoom.svg", width="15", height="15", alt="zoom")
						a.interactive-btn.interactive-favorite(href="#")
							img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
					div.img.img-empty
			.card__col-3
				.card__info
					.interactive-btns
						a.interactive-btn.interactive-download(href="#", title="Скачать", download)
						a.interactive-btn.interactive-print(href="print.html", target="_blank", title="Распечатать")
						a.interactive-btn.interactive-favorite(href="#")
							img.svg(src="img/icons/ic-star.svg", alt="Добавить в закладки")
					.card-data
						.card-data__col-1
							.h3.card-data__title Студия
							if page == "commerce"
								ul.card-data__list
									li
										span Общая площадь
										span 27 м<sup>2</sup>
									li
										span Этаж / этажей
										span 8/26
									li
										span Корпус
										span 3.1
									li
										span Секция
										span 2
									li
										span Электричество
										span 5 кВт
									li
										span Вода
										span Есть
									li
										span Назначение
										span Свободное
							else
								ul.card-data__list
									li
										span Общая площадь
										span 27 м<sup>2</sup>
									li
										span Жилая площадь
										span 16 м<sup>2</sup>
									li
										span Площадь кухни
										span 5 м<sup>2</sup>
									li
										span Этаж / этажей
										span 8/26
									li
										span Корпус
										span 3.1
									li
										span Секция
										span 2
									li
										span Отделка
										span Предчистовая

						.card-data__col-2
							p.card-price-1 Цена по акции: 
								span 7 200 360 
								| р.
							p.card-price-2 Стандартная цена: 
								span 7 200 360 
								| р.
							span.card-id ID квартиры: 45 702
							.card-btn
								button.btn.btn--cta(type="button") 
									img.svg.btn__ic.ic-tel(src="img/icons/ic-tel.svg", alt="phone", width="12", height="20") 
									| Позвоните мне
		// /.card__body
		
	// /.card__inner
	