.geo-marks
	.geo-marks__col
		.geo-mark
			img.img(src="img/pins/pin-metro.svg", alt="metro")
			span.text-bold Метро
		.geo-mark
			img.img(src="img/pins/pin-cafe.svg", alt="metro")
			span.text-bold Кафе и рестораны
		.geo-mark
			img.img(src="img/pins/pin-shops.svg", alt="metro")
			span.text-bold Магазины и ТК
	.geo-marks__col
		.geo-mark
			img.img(src="img/pins/pin-sport.svg", alt="metro")
			span.text-bold Спорт площадки и клубы
		.geo-mark
			img.img(src="img/pins/pin-green.svg", alt="metro")
			span.text-bold Парки, сады, скверы
		.geo-mark
			img.img(src="img/pins/pin-schools.svg", alt="metro")
			span.text-bold Школы и университеты
	.geo-marks__col
		.geo-mark
			img.img(src="img/pins/pin-transport.svg", alt="metro")
			span.text-bold Общ. транспорт
		.geo-mark
			img.img(src="img/pins/pin-gardens.svg", alt="metro")
			span.text-bold Детсады и ясли
		.geo-mark
			img.img(src="img/pins/pin-health.svg", alt="metro")
			span.text-bold Поликлиники, больницы
	.geo-marks__col
		.geo-mark
			img.img(src="img/pins/pin-airports.svg", alt="metro")
			span.text-bold Аэропорт
		.geo-mark
			img.img(src="img/pins/pin-water.svg", alt="metro")
			span.text-bold Набережная / вода
		.geo-mark
			img.img(src="img/pins/pin-kad.svg", alt="metro")
			span.text-bold КАД
	.geo-marks__col
		.geo-mark
			img.img.pin-object(src="img/pins/pin-object.svg", alt="metro")
			span.text-bold Комплекс